h1 {
  color: rgb(6, 30, 53);
  padding-bottom: 1.5rem;
}

div.card {
  border: 1px solid rgb(6, 30, 53);
  background-color: azure;
  margin: 0.5rem;
  padding: 0.25rem;
  dl {
    margin: 0;
    padding: 0;
    dt {
      font: 1.4rem bold;
    }
    dd {
      font-size: 1.1rem;
      color: rgb(17, 15, 15);
      padding: 0 0 0.125rem 0;
      margin: 0.125rem;
    }
  }
}
